@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Fira Code', monospace;
  font-size: 17px;
  letter-spacing: 2px;
}

html, body {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
}

body {
  background: rgb(146,63,251);
  background: linear-gradient(90deg, rgba(146,63,251,1) 0%, rgba(90,205,91,1) 79%, rgba(85,141,255,1) 100%);
}

header, main, footer {
  display: flex;
  flex-direction: column;
}

header, footer {
  flex-shrink: 0;
}

main {
  height: 100%;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

a {
  position: absolute;
  bottom: 0;
  left: 0;
  text-decoration: none;
  line-height: 1.3;
  color: azure;
  background-color: #000;
  margin: 20px;
  text-align: left;
  padding: 4px;
  border-radius: 2px;
}

a:hover {
  font-style: italic;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: 1s fadeIn;
  opacity: 1;
}

.info {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1.3;
  text-align: left;
  margin: 20px;
  color: azure;
  background-color: #000;
  padding: 4px;
  border-radius: 2px;
}

.mark {
  width: calc(200px + 16vw);
}