@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Fira Code', monospace;
  font-size: 17px;
  letter-spacing: 2px;
}

html, body {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
}

body {
  background-image: linear-gradient(144deg, rgba(18, 102, 132, 0.7472561867421326) 59%, rgba(255, 163, 173, 0.5) 59%),linear-gradient(153deg, rgba(52, 151, 201, 0.6129517233118806) 50%, rgba(255, 140, 147, 0.5) 16%),linear-gradient(23deg, rgba(75, 146, 244, 0.5505294152200417) 49%, rgba(239, 123, 107, 0.5) 63%),linear-gradient(74deg, rgba(7, 94, 175, 0.4246086780669067) 40%, rgba(247, 143, 160, 0.5) 7%); background-blend-mode: soft-light,soft-light,hue,soft-light;
}

header, main, footer {
  display: flex;
  flex-direction: column;
}

header, footer {
  flex-shrink: 0;
}

main {
  height: 100%;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

a {
  position: absolute;
  bottom: 0;
  left: 0;
  text-decoration: none;
  line-height: 1.3;
  color: azure;
  background-color: #000;
  margin: 20px;
  text-align: left;
  padding: 4px;
  border-radius: 2px;
}

a:hover {
  font-style: italic;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: 1s fadeIn;
  opacity: 1;
}

.info {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1.3;
  text-align: left;
  margin: 20px;
  color: azure;
  background-color: #000;
  padding: 4px;
  border-radius: 2px;
}

.mark {
  width: calc(200px + 16vw);
}